








<div fxLayout="row" style="height: 100vh">
  <div class="sidebar" fxFlex="25" fxLayout="column" style="background-color: #FFA">
    <div class="titleContainer" fxFlex="10" fxLayoutAlign="center center" style="background-color: #CC7">
      <div class="title">
        <span>BOMO</span>
      </div>
    </div>
    <div class="linkContainer" fxFlex fxLayout="column" fxLayoutAlign="center center">
      <button md-button routerLink="dash">Dashboard</button>
      <button md-button routerLink="linkfeed">Linkfeed</button>
    </div>
  </div>
  <div class="mainContent" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<md-toolbar color="primary">
  <span>Menu</span>
  <span class="spacer"></span>
  <span><a routerLink="dash">Dashboard</a></span>
  <span><a routerLink="linkfeed">Linkfeed</a></span>
</md-toolbar>
<router-outlet></router-outlet>
-->